@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('/font/over-there.ttf');

@font-face {
    font-family: 'over_thereregular';
    src: url('/font/over_there-webfont.woff2') format('woff2'),
         url('/font/over_there-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.invalid-feedback {
    margin-bottom: 20px;
}

/* footer */
.footer-logo {
    width: 23px; 
    height:21px;
    margin-right: 20px;
}

.fontftrtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 21px;
    line-height: 44px;

    color: #202020;
}
.fontftr{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    

    color: #202020;
    }

/* auth */
.btn-submit {

    background: #FBE555;
    border-radius: 15px;
    
    
}
.font-submit {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FDFDFD;
}

.form-size {
    
    width: 100%;
    height: auto;
    left: 1372.49px;
    top: 393px;
    
}

.font-auth {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1px;
}

/* HOME */

/* navbar */
.navbar{
    height: 80px;
    background-color: #FBE555;
}

.navlogin {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #E5D045;
    border-color: white;
}
.font-navlogin {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: white;
}

/* Hero Post */
.container-img{
    position: relative;
}
.overthere {
    position: absolute;
    font-family: 'over_thereregular';
    top: 20%;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 130px;

    color: #FAF6F6;
}
.font-hero {
    position: absolute;
    top: 36%;
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 31px;
    line-height: 69px;

    color: #FAF6F6;
}
.searchbar {
    position: absolute;
    top: 60%;
    width: 50%;
    left: 300.46px;

    border-radius: 100px;
}

.searchicon {
    position: absolute;
    top: 0px;
    left: -35px;
    width: 36px;
    height: 37px;

    color: white;
}

/* navbar home */
/* Style the buttons */
.btnnavbar {
    border: transparent;
    width: 420px;
    padding: 10px;
    float: left;
    background-color: white;
    color: black;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    font-family: "poppins";
    font-size: 18px;
  }
  
  /* Style the active class, and buttons on mouse-over */
  .active, .btnnavbar:hover {
    background-color: #2B1360;
    color: white;
  }

/* home body */
.img-border{
    border-radius: 20px 20px 0px 30px;
}
.logo-merchant {
    width: 100%;
    height: 30px;
    border-radius: 50%;
    margin-left: 15px;
}
.card-size {
    width: 330px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    margin-bottom: 10px;
}
.card-body {
    width: auto;
    padding: 0px;
}

.card-title{
    margin-left: 20px;
}
.card-text {
    margin-left: 20px;
}
.card-link {
    margin-left: 20px;
}
.card-merchant {
    /* margin-left: 20px; */
}

.font-titlecard {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}
.font-merchantcard {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-left: 1px;
    line-height: 27px;
    color: #202020;
}

.font-pricecard {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #2B1360;
}

.font-excerptcard {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #727171;
}

/* SHOW PRODUCT */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 300px;
}
.flex-left {
    flex: 80%;
}

.flex-right {
    flex: 20%;
    margin-left: 30px;
}
@media (max-width: 700px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }
.img-product {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
}

.btn-merchant{
    border-radius: 10px;
    width: 100%;
    height: 60px;
    text-decoration: none;
    border-style: ridge;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F0F0F0;
}
.font-merchantshow {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    text-decoration: none !important;
    margin-left: 80px;
    margin-top: -45px;

    color: #202020;
}
.logo-merchantshow {
    width: 10%;
    height: 45px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: -20px;
}

.font-titleshow {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #202020;
}
.font-bodyshow {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    word-wrap: break-word;
    line-height: 44px;
    text-align: left;
    color: #000000;
}
.font-priceshow {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
    color: #202020;
}
.btn-order {
    width: 300px;
    border-radius: 10px;
    border: transparent;
    font-weight: bold;
    background-color: #2B1360;
    color: #FDFDFD;
}
.font-order {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 26px;
}
/* ACCOUNT PAGE */
.form-account {
    border-radius: 15px;
}
.font-account {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;

    color: #202020;
}
.font-account2 {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #B7B2B2;
}
.btn-account {
    font-family: 'poppins';
    background: #2B1360;
    color: white;
    border-radius: 15px;
}
/* ORDER PAGE */
.font-ordertitle {
    font-family: 'Poppins';
    font-style: normal;
}

/* MERCHANT SHOW */
.font-mercname {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    

    color: #202020;
    }
.font-mercdesk {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: #202020;
}
.hr-show {
    margin-left: 7px;
    border-bottom: 1px solid black;
    width: 1200px;
}
/* MERCHANT PAGE */

.merchant-status-img {
    object-fit: contain;
    width: 600px;
}
.font-merchantstatus {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    color: #202020;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.merc-regis {
    font-weight: bold;
    color: #FF9305;
}
.font-titleregis {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 69px;
    text-align: center;

    color: #202020;
}
.font-sub-titleregis {
    font-family: 'Poppins';
}
.active, .btn-order:hover {
    background-color: #2B1360;
    color: white;
}
.merc-status {
    display: flex;
    justify-content: space-between;
}
.merc-statusdesc {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;

    color: #B7B2B2;
}
.merc-statusdesc {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;

    color: #202020;
}
.badge-mercstatus{
    font-family: 'poppins';    
    width: 176.38px;
    height: 35.14px;
    text-align: center;
    background: #FBE555;
    color: white;
    border-radius: 15px;
}
.badge-mercstatus2{
    font-family: 'poppins';
    width: 176.38px;
    height: 35.14px;
    text-align: center;
    background: #2A1A5E;
    color: white;
    border-radius: 15px;
}
.badge-mercstatus3{
    font-family: 'poppins';
    width: 176.38px;
    height: 35.14px;
    text-align: center;
    background: #F45905;
    color: white;
    border-radius: 15px;
}
.text-mercstatus {
    margin-top: 7px;
}
.img-merchantprofile {
    width: 130px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}
.font-mercstatus {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    color: #202020;
    justify-content: center;
    align-items: center;
}
.font-merchdesk {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #000000;
    margin-top: 7px;
}
.font-merclink {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #202020;
    margin-top: 10px;
}

/* ORDERS PAGE */
.title-order {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;

    color: #202020;
}
.font-orders{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;

    color: #202020;
}
.status-order1 {
    width: 130px;
    height: 85%;
    justify-content: center;
    background: #FBE555;
    color: white;
    border-radius: 15px;
}
.status-order2 {
    width: 130px;
    height: 85%;
    justify-content: center;
    background: #2A1A5E;
    color: white;
    border-radius: 15px;
}
.status-order3 {
    width: 130px;
    height: 85%;
    justify-content: center;
    background: #F45905;
    color: white;
    border-radius: 15px;
}
/* Merchant Dashboard */

/* Sidebar */
.btnsidebar-merchant {
    border: transparent;
    border-radius: 10px;
    width: 280px;
    padding: 10px;
    float: left;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: "poppins";
    font-size: 18px;
} 
.sidebar-merchant {
    background-color: #FCFCFC;
}
/* Style the active class, and buttons on mouse-over */
.active, .btnsidebar-merchant:hover {
    background-color: #2B1360;
    color: white;
    }

/* Profile */
.logo-profile {
    width: 40%;
    height: 100px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: -20px;
}
.border-nameinput {
    width: 500px;
    border-radius: 10px;
}
.border-deskinput {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.btn-updateprofile {
    width: 500px;
    color: white;
    background: #2B1360;
    border-radius: 15px;
}
.active, .btn-updateprofile:hover {
    background-color: #341578;
    color: white;
}
/* Product */
.border-product {
    border: 2px solid #B7B2B2;
    border-radius: 20px 20px 20px 20px;
    margin-left: 50px;
    width: 800px;
    height: 170px;
    right: 200px;
}
.product-img {
    justify-items: center;
    margin-left: 10px;
    margin-top: 12px;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover;
    width: 250px;
    height: 140px;
}
.font-titleproduct {
    margin-top: 12px;
    margin-bottom: 1px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 30px;

    color: #202020;
}
.font-priceproduct {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 1px;
    margin-bottom: 7px;
    margin-left: 10px;
    color: #202020;
}
.hr-product {
    margin-top: 21px;
    border-bottom: 2px solid #B7B2B2;
    width: 500px;
}
.btn-createproduct {
    margin-top: 20px;
    width: 210px;
    color: white;
    background: #2B1360;
    border-radius: 15px;
}
.btn-updateproduct {
    width: 240px;
    margin-right: 15px;
    color: white;
    background: #2B1360;
    border-radius: 15px;
}
.btn-deleteproduct {
    width: 240px;
    color: white;
    background: #FBE555;
    border-radius: 15px;
}
.active, .btn-updateproduct:hover {
    background-color: #3b2b5c;
    color: black;
}
/* create Product */
.font-createtitle {
    margin-bottom: 1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;

    color: #202020;
}
.font-createtitle2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #202020;
}
.border-creatproduct {
    border-radius: 10px;
}
.btn-addproduct {
    margin-bottom: 30px;
    width: 500px;
    border-radius: 10px;
    background-color: #2B1360;
    color: white;
}
.active, .btn-addproduct:hover {
    background-color: #3b2b5c;
    color: white;
}

/* Transaction */
.font-transactionpage {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 55px;

    color: #202020;
}
.hr-transaction {
    margin-top: 21px;
    margin-left: 1px;
    border-bottom: 2px solid #B7B2B2;
    width: 850px;
}
.font-transactionname {
    font-family: 'Poppins';
    font-style: normal;
    
    font-size: 18px;
    line-height: 27px;

    color: #202020;

}
.font-transactionbody {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    color: #202020;
}
.font-transactionprice {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    color: #202020;
}
.status-transaction1 {
    color: white;
    justify-content: center;
    width: 100px;
    height: 30px;
    background: #FBE555;
    border-radius: 15px;
}
.status-transaction2 {
    color: white;
    justify-content: center;
    width: 100px;
    height: 30px;
    background: #2A1A5E;
    border-radius: 15px;
}
.status-transaction3 {
    color: white;
    justify-content: center;
    width: 100px;
    height: 30px;
    background: #F45905;
    border-radius: 15px;
}
/* Wallet */

.wallet-box {
    width: 600px;
    height: 100px;
    margin-left: 25px;
    border: 1px solid #B7B2B2;
    border-radius: 20px;
}
.font-walletbalance {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    color: #202020;
}
.font-walletmywallet {
    margin-top: 20px;
    margin-right: 30px;
    text-align: right;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    color: #202020;
}
.btn-walletwithdraw {
    width: 140px;
    height: 30px;
    text-align: center;
    color: white;
    background: #2B1360;
    border-radius: 15px;
}
.active, .btn-walletwithdraw:hover {
    background-color: #3b2b5c;
    color: white;
}
.font-walletwithdraw {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

    color: #FDFDFD;
}
.font-walletprice {
    margin-top: 1px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    
    color: #202020;
}
/* wallet withdraw */

.font-withdrawtitle {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    color: #202020;
}
.font-withdrawtitle2 {
    margin-bottom: 1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;

    color: #202020;
}
.box-withdraw {
    border-radius: 10px;
}

/* Admin Dashboard */

/* Admin Token */
.btn-admingenerate {
    width: 200px;
    border-radius: 10px;
    font-family: 'poppins';
    background-color: #2B1360;
    color: white;
}
.active, .btn-admingenerate:hover {
    background-color: #2B1360;
    color: white;
}
.btn-admindelete{
    width: 200px;
    border-radius: 10px;
    font-family: 'poppins';
    background-color: #FBE555;
    color: white;
}

/* Merchant */
.title-admmerc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 44px;
    text-align: left;
    color: #202020;

}
.btn-approve{
    width: 130px;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'poppins';
    background-color: #2A1A5E;
    color: white;
}
.btn-approve:hover {
    background-color: #3b2b5c;
    color: white;
}
.btn-reject{
    width: 130px;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'poppins';
    background-color: #F45905;
    color: white;
}
.btn-reject:hover {
    background-color: #e9783b;
    color: white;
}
.admin-mercstatus1 {
    font-family: 'poppins';
    font-size: 16px;
    color: white;
    text-align: center;
    width: 150px;
    height: 40px;
    background: #FBE555;
    border-radius: 10px;
}
.admin-mercstatus2 {
    font-family: 'poppins';
    font-size: 16px;
    color: white;
    text-align: center;
    width: 150px;
    height: 40px;
    background: #2A1A5E;
    border-radius: 10px;
}
.admin-mercstatus3 {
    font-family: 'poppins';
    font-size: 16px;
    color: white;
    text-align: center;
    width: 150px;
    height: 40px;
    background: #F45905;
    border-radius: 10px;
}

/* Transaction List */
.box-border {
    border: 2px solid #B7B2B2;
    border-radius: 35px;
    width: 900px;
    height: 250px;
}

